.change-password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adjust the gap between items as needed */
    margin-top: 10%;
}

.change-password-form button {
    margin-top: 20px; /* Adds some space above the buttons */
}

.submit-button, .cancel-button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    transform: scale(1);
    opacity: 1;
}

.submit-button{
    border: 2px solid #2ecc71;
}

.cancel-button {
    border: 2px solid #e10416;
}

.submit-button:hover, .cancel-button:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.submit-button:hover {
    background: #2ecc71;
}

.cancel-button:hover {
    background: #e10416;
}

.change-password-form [type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 20px; 
    width: 80%;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.message {
    margin-top: 10px;
    padding: 10px;
    color: #e10416; /* Change color based on your design */
    border: 1px solid #e10416; /* Optional */
    border-radius: 5px; /* Optional */
}




