.friends-settings-form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap between items as needed */
    margin-top: 10%;
    width: 100%;
    max-height: 70%; /* Set a maximum height for your list */
    overflow-y: auto; /* Enable vertical scrolling */
}

.friend-profile-image {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    cursor: pointer;
  }

.friend-username {
    display: block;
    color: white;
    cursor: pointer;
}

/* .friends-settings-form li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #2ecc71
} */

.buttons button{
    margin-right: 5px;
    border-radius: 24px;
    color: #fff;
    background: none;
    cursor: pointer;
    border: 2px solid #e10416;
}

.buttons button:hover {
    background-color: #e10416;
}

.no-friends-message {
    color: white;
    text-align: center;
    padding: 20px;
}

.friend-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #2ecc71 /* Optional */
}
