.sidebar-menu {
  width: 250px; /* Adjust width as needed */
  height: 100vh; /* Make the sidebar full height */
  background-color: #000; /* Your desired background color */
  color: #fff; /* Text color */
  padding: 20px; /* Padding around the entire menu */
  font-family: 'Arial', sans-serif; /* Your desired font */
  overflow-y: auto; /* Enable scrolling if content is taller than the screen */
  z-index: 1000; /* Make sure the sidebar is above other content */
}

/* Additional styles for collapsed menu */
.sidebar-menu.collapsed {
  width: 70px; /* New width for collapsed menu */
}

.menu-title {
  font-size: 24px; /* Adjust size as needed */
  margin-bottom: 30px; /* Space below the title */
  text-align: center; /* Center the title */
  background: -webkit-linear-gradient(to right, #b92b27, #1565c0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b92b27, #1565c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text; /* Chrome on macOS and iOS */
  background-clip: text;
  color: transparent; /* Make the text color transparent to show the gradient */
}

.menu-items {
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
}

.menu-items li {
  padding: 10px 0; /* Space above and below each item */
  display: flex; /* Use flexbox for alignment */
}

.menu-items li a, .menu-items li button {
  text-decoration: none;
  color: #fff;
  display: block; /* Make the anchor a block-level element to fill the li */
  width: 100%; /* Ensure it fills the full width */
  padding: 10px 20px; /* Adjust padding as needed, ensuring it's symmetric */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  border-radius: 10px;
  border: 2px solid #3498db;
}

.menu-items li button{
  background: none;
  cursor: pointer;
  font-size: medium;
}

.menu-items li a:hover, .menu-items li button:hover {
  background-color: #2ecc71; /* Darken the background on hover */
  border-color: #2ecc71;
  /* You can also change the text color, border, etc., on hover */
}

.notification-count {
  background-color: red; /* Background color for message count bubble */
  color: white;
  border-radius: 50%;
  padding: 2px 6px; /* Adjust padding as needed */
  font-size: 12px; /* Adjust font size as needed */
  margin-left: 5px; /* Space between message text and count bubble */
}

/* Responsive Styles for Phones */
@media (max-width: 1024px) {
  .menu-main-container {
    /* position: fixed;
    bottom: 0; */

    height: 70px;
  }

  .sidebar-menu {
    width: 100%;
    height: 70px;
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0; */
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .sidebar-menu.collapsed {
    height: 70px;
    width: 100%;
  }

  .menu-items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row; /* Ensure items are in a row */
  }

  .menu-items li {
    padding: 0;
  }

  .menu-items li a, .menu-items li button {
    padding: 10px;
    border: none;
  }

  .menu-title {
    display: none;
  }
}