.notification-form {
    background: #000;
    top: 0;
    left: 285px; /* Adjust this value to match the width of your sidebar */
    position: fixed;
    height: 100vh;
    z-index: 1000;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    overflow-y: auto;
}

.notification-form.collapsed {
  left: 100px; /* Adjust left position when the menu is collapsed */
}

.notification-list {
    display: flex;
    flex-direction: column;
  }
  
  .friend-request {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #2ecc71 /* Optional */
  }
  
  .user-info {
    flex-grow: 1;
    margin-left: 10px;
  }
  
  .username-request {
    display: block;
    color: white;
    cursor: pointer;
  }
  
  .actions button {
    margin-right: 5px;
    border-radius: 24px;
    color: #fff;
    background: none;
    cursor: pointer;
  }

  .profile-image-request{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    cursor: pointer;
  }

  .accept-button{
    border: 2px solid #2ecc71;
  }

  .decline-button {
    border: 2px solid #e10416;
  }

  .accept-button:hover {
    background-color: #2ecc71;
  }

  .decline-button:hover {
    background-color: #e10416;
  }

  .no-notification-message {
    color: #fff;
    margin-top: 10%;
  }
  
  @media (max-width: 768px) {
    .notification-form.collapsed {
      width: 100%;
      top: 0%;
      left: 0; /* Position it next to the collapsed menu */
      height: calc(100vh - 100px); /* Full viewport height */
      z-index: 1100; /* Ensure it is above other content */
    }
  
    .menu-container {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 70px;
      height: 70px;
      z-index: 1200; /* Ensure the menu is above the notification form */
    }

    .friend-request {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .username-request {
      margin-left: 20px;
      margin-right: 20px;
    }
    
  }