.main-page-container {
  display: flex;
  height: 100vh; /* Full viewport height */
  background-color: black;
}

.menu-container {
  flex: 1; /* Adjust based on your design needs */
  border-right: 1px solid #ccc; /* Optional */
}

.right-container {
  flex: 3; /* Adjust based on your design needs */
  display: flex;
  height: 100%;
}

.post-and-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3; /* Adjust based on how much space you want this container to take */
}

.search-bar-container {
  padding: 20px;
}

.post-container {
  flex-grow: 1; /* Ensures it takes up the remaining space after the SearchBar */
  overflow-y: auto; /* Allows for scrolling within the PostContainer */
}

.connected-friends-container {
  flex: 1; /* Adjust this to set the width of the ConnectedFriendsComponent */
  overflow-y: auto; /* Allows for scrolling within the ConnectedFriendsComponent */
  border-left: 1px solid #ccc;
}