.profile-page{
    background-color: #000;
    display: flex;
    
}

.profile-page-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex: 1; /* Takes up all remaining space after the Menu */
    overflow: auto; /* Allows scrolling within the profile-page-content if needed */
    color: white;
}

.profile-header-component {
    justify-content: center;
    align-items: center;
}

/* Responsive styles */
