
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #2ecc71;
    border-right-color: #3498db;
    animation: l2 1s infinite linear;
  }
  @keyframes l2 {to{transform: rotate(1turn)}}