.like-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: transform 0.3s ease, color 0.3s ease;
    outline: none;
}

.like-button:hover, .like-button.liked {
    transform: scale(1.2);
}

.like-button:active {
    transform: scale(0.9);
}

.liked {
    color: red;
}

.unliked {
    color: white;
}

.like-container {
    position: relative;
}

.likes-count {
    cursor: pointer;
}

.explosion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, #b92b27 0%, #1565c0 70%);
    width: 0;
    height: 0;
    border-radius: 100%;
    animation: color-explosion 0.5s ease-out forwards;
}

@keyframes color-explosion {
    to {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .like-button {
        font-size: 12px; /* Smaller font size */
        padding: 4px 8px; /* Smaller padding */
    }

    .likes-count {
        font-size: 12px; /* Smaller font size for the count */
    }

    .explosion {
        width: 0;
        height: 0;
        animation: color-explosion-small 0.5s ease-out forwards;
    }

    @keyframes color-explosion-small {
        to {
            width: 70px;
            height: 70px;
            opacity: 0;
        }
    }
}
