

.reported-posts-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.reports-nr-container {
    display: flex;
    justify-content: center;
}

.reported-post-buttons {
    display: flex;
}

