.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-height: 550px;
    overflow-y: auto;
    scrollbar-width:none; 
    /* scrollbar-color:#3498db #2ecc71; */
    overflow-x: hidden;
    /* border: 2px solid #3498db;
    border-radius: 10px; */
    color: white;
    height: 100vh;
}

.post-container-header {
    color: aliceblue;
    width: 100%; /* Ensures the header takes full width of its container */
    padding: 20px;

}

@media (max-width: 768px) {
    .post-container{
        height: calc(100vh - 100px); 
    }
}